@model IEnumerable<TheChromium.Models.Events>

@{
    ViewBag.Title = "Events";
}

<h2>Event List</h2>

<p>
    @Html.ActionLink("View Calendar", "Calendar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particpants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particpants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("View Map", "Map", new { id = item.EventId })
        </td>
    </tr>
}

</table>
